{{ define "Owner.message.layout" }}
{{ template "Owner.navbar" . }}
{{ template "Owner.message.content" . }}
{{ template "Owner.footer" . }}
{{ end }}

{{ define "Owner.message.content"}}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4 align-content-center">
    <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h2 class="alert alert-danger display-1 align-content-center">INPUT ERROR </h2>
    </div>
    <div class="pt-3 pb-2 mb-3">
        <a class="btn btn-primary btn-lg" href="/Owner/users/new" role="button">OK</a>
    </div>

</main>
{{ end }}